.profileBox {
    margin: auto;
    width: 1200px;
    height: auto;
    margin-top: 50px;
    padding: 30px;
}

.fab {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.fab2 {
    position: absolute;
    bottom: 10px;
    right: 75px;
}