.searchBar {
    margin: auto;
    width: 500px;
    height: auto;
    margin-top: 50px;
    padding: 30px;
}

.searchBox {
    margin: auto;
    width: 500px;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 3;
    display: block;
}

.searchResult {
    margin: auto;
}

.searchFilter {
    margin: auto;
    margin-top: 20px;
    width: 500px;
}

.radioSort :checked {
    color: primary;
}

.oops {
    width: auto;
    margin: auto;
}

.floatContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.floatChild {
    float: left;
}