.searchBar {
    margin: auto;
    width: 500px;
    height: auto;
    margin-top: 50px;
    padding: 30px;
}

.searchBox {
    margin: auto;
    width: 500px;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 3;
}

.searchResult {
    margin: auto;
}

.searchFilter {
    margin: auto;
    margin-top: 20px;
    width: 500px;
}

FormControlLabel {
    
}